@charset "utf-8";

@font-face
{
    font-family: "Monofett";
    src: local("Monofett"), url("fonts/Monofett/Monofett-Regular.ttf") format("opentype");
}
@font-face
{
    font-family: "Goudy Bookletter 1911";
    src: local("Goudy Bookletter 1911"), url("fonts/Goudy_Bookletter_1911/GoudyBookletter1911-Regular.ttf");
}
@font-face
{
    font-family: "Pixelify Sans";
    src: local("Pixelify Sans"), url("fonts/Pixelify_Sans/PixelifySans-VariableFont_wght.ttf");
}
@font-face
{
    font-family: "Centaur Regular";
    src: url("fonts/Centaur_Regular/CENTAUR.TTF");
}
@font-face {
    font-family: "Lucida Calligraphy";
    src: url("fonts/Lucida_Calligraphy/LCALLIG.TTF");
}
@font-face {
    font-family: "Monotype Corsiva";
    src: url("fonts/Monotype_Corsiva/MTCORSVA.TTF");
}


*
{
    scroll-behavior: smooth;
}

html
{
    /*padding: 20px 20px 20px 20px;*/
    background-image: url('images/creepgridpink.png');
    /* color- rgb((244, 230, 241), #f4e6f1*/
    background-color: black;
    cursor: url("icons/handcursor.cur"),auto; /*Source: https://www.cursor.cc/?action=icon&file_id=36795*/
}

link:hover
{
    cursor: url("icons/handhover.png"),auto;
}

@keyframes floatbg
{
    from { background-position: 0% 0%; }
    to { background-position: 85.5% 0%; }
}
#pagetop
{
    background-image: url("images/pixelclouds.png");
    background-repeat: repeat;
    background-size: 700px;
    padding-top: 15px;
    animation: floatbg 20s linear infinite;
}

h1
{
    color: hotpink;
    font: bold 80px "Goudy Bookletter 1911", serif;
    padding-bottom: 50px;
    border-bottom: 10px dotted purple;
    text-shadow: 2px 2px 1px black;
}

nav
{
    font-family: "Pixelify Sans", monospace, sans-serif;
    font-size: 1.2em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 5px 20px 2px 20px;
    margin: 0px 10px 10px 10px;
    text-align: center;
    background-color: #ffe0cd;
    background: #3CD3AD;
    background: linear-gradient(to right, #4CB8C470, #3CD3AD70);
}

nav h3
{
    margin-top: 0;
    margin-bottom: 0;
}

nav p
{
    margin: 4px 0 4px 0;
}

nav p+p+p+p
{
    margin-bottom: 10px;
}

#Songs, #Memes, #Grammar, #Movies
{
    margin-top: 70px;
}

.audiolist
{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.audiolist li
{
    padding: 10px;
    margin: 10px;
    text-align: center;
    border: dotted 4px #000000;
    border-radius: 40px;
    background-image: url("images/creepgridpink3.png");
}

.audiolist li:hover
{
    background-color: #00000030;
}

audio::-webkit-media-controls-panel
{
    background-color: #ffffff;
}

section+img
{
    text-align: center;
}

#Songs h3, #Memes h3, #Grammar h3, #Movies h3
{
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: "Monotype Corsiva";
    font-size: 2.5rem;
    text-align: center;
}

#Songs h3 p, #Memes h3 p, #Grammar h3 p, #Movies h3 p
{
    margin-top: 0;
    margin-bottom: 0;
}

h1,h2,body h1+pre, body h2+pre
{
    text-align: center;
}

.subtext
{
    margin-top: 0;
    margin-bottom: 0;
}

h1+pre
{
    margin-bottom: 0;
}

h2+pre
{
    margin-top: 0;
    margin-bottom: 0px;
    padding-bottom: 25px;
}

#memes img
{
    display: block;
}

#watchlist
{
    font-family: "Pixelify Sans", monospace, sans-serif;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.witem
{
    width: 33.3333%;
    box-sizing: border-box;
}

#w2 h4
{
    font-size: large;
    text-decoration: underline wavy;
}

#w2
{  
    margin: 1rem;
    max-width: 40ch;
    border: 8px solid #0038FF;
    color: black;
    position: relative;
    border-image: 
    url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 0H8v4H4v4H0v8h4v4h4v4h8v-4h4v-4h4V8h-4V4h-4V0zm0 4v4h4v8h-4v4H8v-4H4V8h4V4h8z' fill='%230038FF'/%3E%3C/svg%3E")
    8 stretch;
}

#w2:before
{
    content: "";
    position: absolute;
    right: -28px;
    top: calc(50% - 14px);
    width: 24px;
    height: 28px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 0H0v8h12v4h4v4h-4v4H0v8h4v-4h8v-4h4v-4h8v-4h-8V8h-4V4H4V0z' fill='%230038FF'/%3E%3Cpath fill='%23f4e6f1' d='M0 8h4v12H0z'/%3E%3C/svg%3E");
}

#Random
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#hkitty
{
    background-image: url("images/note1.png");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    padding: 2em;
    margin: 1em;
    margin-top: 0;
}

a:link
{
    color:blue;
}

a:visited
{
    color:blueviolet;
}

a:hover
{
    text-decoration: none;
    color: rgb(255, 0, 119);
}

/*ul
{
    background-color: #e3fefd;
    border: 5px solid purple;
    padding: 5px;
    border-radius: 8px;
}*/

/*#Grammar dt
{
    text-shadow: goldenrod 2px 2px;
}*/

/*#Grammar
{
    background-color: rgba(255, 255, 255, 0.5);
    filter: brightness(0.9) contrast(1.2);
    background: rgba(255, 0, 0, 0.3);
    background-blend-mode: color;
}*/

.Grammarhead
{
    font-size: 1.5em;
}
.Grammarhead+em
{
    padding-left: 1.7em;
    color: rgba(0, 0, 0, 0.5);
}
dd
{
    padding-top: 0.4em;
    padding-bottom: 1em;
}
.Grammarex
{
    padding-top: 7px;
}

body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main
{
    margin: 7px;
    padding: 7px;
}

footer
{
    margin: 0 0 0 0;
    width: 100%;
    bottom: 0%;
    padding: 5px 0 5px;
    background: linear-gradient(90deg, rgb(131 58 180 / 50%) 0%, rgb(253 29 29 / 30%) 60%, rgb(252 176 69 / 60%) 100%);
}

footer p
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 10px;
    margin: 0;
}

#Movies tr td:first-child
{
    font-family: "Monofett", monospace, serif;
    font-size: 28px;
}
#Movies td
{
    text-align: center;
}

.cellcontent
{
    display: flex;
    justify-content: space-between;
}

@keyframes rotate
{
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg);
    }
}
.movposter
{
    padding-left: 5px;
}
.movposter:hover
{
    animation: rotate 2s linear infinite;
    /* Convert pics to vinyl covers and play soundtrack on hovering */
}

table, th, td
{
    border: 3.5px dotted;
    border-radius: 10px;
}
table
{
    border: 3.5px solid;
    width: 100%;
    border-collapse: collapse;
}
th
{
    border: 3.5px solid;
    font-size: 1.5rem;
    padding-top: 10px;
    padding-bottom: 10px;
}

progress
{
    appearance: none;
}
progress::-webkit-progress-bar
{
    background-color: #000000;
    height: 10px;
    border-radius: 5px;
}
progress::-webkit-progress-value
{
    background-color: #da2020;
    height: inherit;
    border-radius: inherit;
}
.bi-star,.bi-star-half, .bi-star-fill 
{
    color: orange;
}

.bi-plus-circle-dotted
{
    transform: scale(80%);
    margin-left: 5px;
    color: rgb(71, 38, 0);
}
.bi-plus-circle-dotted:hover
{
    color:#3CD3AD;
}
.buttonclick
{
    color:rgb(0, 42, 255) !important;
}

#Memes ol
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
#Memes ol li
{
    padding-left: 20px;
    padding-right: 20px;
}

#Memes ol li img, #Memes ol li iframe
{
    transition: transform .2s;
    border-style: outset;
    border-width: 10px;
    border-color: #daa520;
}

#Memes ol li img:hover, #Memes ol li iframe:hover
{
    transform: scale(130%);
    box-shadow: 0 0 50px 10px #fffaaf;
}